<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
   <div id="root">
        <p v-if="show">Showing</p>
        <p v-else="show">not Showing</p>
   </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#root',
            data:{
               show:false
            }
        });
    </script>
</body>
</html>