<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <div id="root">
       <input v-on:click="increment++" type="submit" value="+">
       <input v-on:click="increase()" type="submit" value="-">
       <p>{{increment}}</p>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#root',
            data:{
                increment:0
            },
            computed:{
                increase:function(){
                    return this.increment--;
                }
            }
        });
    </script>
</body>
</html>