<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <ul id="root">
        <li v-for="item in items" v-on:click="removeItem($event)">{{item}}</li>
        <input type="text" v-model="newSkill">
        <input type="submit" v-on:click="addValue()">
    </ul> -->

    <!-- <div id="root">
        <select v-model="checked">
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
            <option>Four</option>
        </select>
        <span>{{checked}}</span>
    </div> -->

    <!-- <form id="root">
      <input type="radio" v-model="checkedItem" value="one">  
      <input type="radio" v-model="checkedItem" value="two">  
      <input type="radio" v-model="checkedItem" value="three"> 
      <span>{{checkedItem}}</span>
    </form> -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // var app = new Vue({
        //     el:'#root',
        //     data:{
        //         newSkill:'',
        //         items:['hello','world','how','are','man']
        //     },
        //     methods:{
        //         addValue:function(){
        //             this.items.push(this.newSkill);
        //             this.newSkill = '';
        //         },
        //         removeItem:function(event){
        //             event.target.remove();
        //         }
        //     }
        // });

        // var app2 = new Vue({
        //     el:'#root',
        //     data:{
        //         checked:''
        //     }
        // });

        // var app3 = new Vue({
        //     el:'#root',
        //     data:{
        //         checkedItem:''
        //     }
        // })
    </script>
</body>
</html>