<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            background: red;
        }
    </style>
</head>
<body>
   <div id="root">
      <ul>
          <li v-for="(item ,i)in items">
            {{i+1}} {{item}}
          </li>
      </ul>
   </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
        var app = new Vue({
          el:"#root",
          data:{
              message:'hello world',
              a:'<a href="https:\\google.com">google</a>',
              items:['Baky billah','sujon','robin','fakrul']
          },
          
        });
    </script>
</body>
</html>