<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <div class="root"> -->
        <!-- <p v-for="item in items">{{item}}</p>
        <input type="text" v-model="message"> -->
        <!-- <span>{{message}}</span> -->
        <!-- <a v-bind:href="link.url">{{link.text}}</a> -->
        <!-- <button v-on:click="toggle">click</button>
        <span>{{message}}</span> -->
        <!-- <li v-for="item in items"  v-show="item.length > 9">{{item}}</li> -->
        <!-- <span v-if="show">showing...</span>
        <span v-else>not showing...</span> -->
        <!-- <li v-for="payment in unpaid">{{payment.name}}</li> -->
    <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // var app = new Vue({
        //     el:'.root',
        //     data:{
                // items:['hello world','hello mars','hello jupiter','hello sun','hello moon'],
                // message:''
                // link:{
                //     text:'youtube',
                //     url:'https:\\youtube.com'
                // },
                // message:'hello world',
                // show:false,
            //     payments:[
            //         {name:'fish',paid:false},
            //         {name:'chicken',paid:true},
            //         {name:'vegetables',paid:false}
            //     ]
            // },
            // methods:{
            //     toggle:function(){
            //         this.message = 'hello mars'
            //     }
            // },
        //     computed:{
        //         unpaid:function(){
        //             return this.payments.filter(function(p){
        //                 return ! p.paid;
        //             })
        //         }
        //     }
        // })
    </script>
</body>
</html>